@{
    ViewData["Title"] = "参数配置";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>参数配置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="~/lib/layui/layui.all.js"></script>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <style type="text/css">
        .layui-table-cell {
            /*height: auto !important;
                                            white-space:pre-line;*/
            padding: 0px 1px !important;
        }


        .layui-input-block {
            min-height: 23px !important;
            margin-left: 0px !important;
        }

        .layui-table-cell {
            height: auto !important;
            white-space: pre-line;
            padding: 3px 1px !important;
        }

        th .layui-table-cell {
            line-height: 15px !important;
            text-align: center;
        }

        td .layui-table-cell {
            line-height: 17px !important;
        }

        .layui-input-block {
            min-height: 30px !important;
            margin-left: 0px !important;
        }

        .layui-table td {
            padding: 1px 0px !important;
        }
    </style>
</head>
<body>
    <div style="margin-top: 5px;">
    </div>

    <h2 style="text-align:center;margin:10px">当日计划数量配置</h2>
    <div class="layui-btn-container" style="float:right">
        <button class="layui-btn layui-btn-sm" data-type="save4">保存</button>
    </div>

    <table id="mainList4" lay-filter="mainList4" class="layui-table"
           lay-size="sm"></table>



    @*时间间隔配置*@
    <h2 style="text-align:center;margin:10px">时间间隔配置</h2>
    <div class="layui-btn-container" style="float:right">

        <button class="layui-btn layui-btn-sm" data-type="add">新增一行</button>
        <button class="layui-btn layui-btn-sm" data-type="save">保存</button>
    </div>

    <table id="mainList" lay-filter="mainList" class="layui-table"
           lay-size="sm"></table>

    <script type="text/html" id="Operate">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="btndel">删除</a>
    </script>


    @*日计划数量配置*@
    <div style="display:none">
        <h2 style="text-align:center;margin:10px">日计划数量配置</h2>
        <div class="layui-btn-container" style="float:right">
            <button class="layui-btn layui-btn-sm" data-type="add2">新增一行</button>
            <button class="layui-btn layui-btn-sm" data-type="save2">保存</button>
        </div>

        <table id="mainList2" lay-filter="mainList2" class="layui-table"
               lay-size="sm"></table>

        <script type="text/html" id="Operate2">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="btndel2">删除</a>
        </script>
    </div>

    @*月计划数量配置*@
    <h2 style="text-align:center;margin:10px">月计划数量配置</h2>
    <div class="layui-btn-container" style="float:right">
        <button class="layui-btn layui-btn-sm" data-type="add3">新增一行</button>
        <button class="layui-btn layui-btn-sm" data-type="save3">保存</button>
    </div>

    <table id="mainList3" lay-filter="mainList3" class="layui-table"
           lay-size="sm"></table>
    <script type="text/html" id="Operate3">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="btndel3">删除</a>
    </script>
    <div class="layui-input-block">
        标题：<input type="text" name="Message" id="Message" required placeholder="@ViewBag.Message" value="@ViewBag.Message" autocomplete="off" class="layui-input">
        <br />
    </div>
    <div>
        <input type="text" class="layui-input" name="fromdate" id="fromdate" value="@ViewBag.FromDate" style="width:100px;display:inline-block" />至<input type="text" class="layui-input" name="enddate" id="enddate" value="@ViewBag.EndDate" style="width:100px;display:inline-block" />
        <a class="layui-btn layui-btn-sm" id="btnexcel" onclick="ExcelClick()" asp-action="Export">数量导出</a>
    </div>

    @section Scripts{
    <script type="text/javascript">

         var index;
         layui.use('laydate', function(){
             var laydate = layui.laydate;

             //执行一个laydate实例
             laydate.render({  elem: '#fromdate'   });
              laydate.render({  elem: '#enddate'   });
        });



         layui.use(['layer', 'table', "tree"], function ()
         {
             var form = layui.form,
                 layer = layui.layer,
                  util = layui.util;
                 $ = layui.jquery;
             var  Layuitable = layui.table;
             var columns = [
                 { checkbox: true, fixed: true },
                 { field: 'FromDate', title: '开始日期（时:分）',edit: 'text' },
                 { field: 'EndDate', title: '结束日期（时:分）', edit: 'text' },
                 { field: 'Targetnum', title: '目标数量(能继承)',   edit: 'text' },
                 { field: 'OperateA', title: '操作', toolbar: '#Operate' }
             ];
               var columns2 = [
                 { checkbox: true, fixed: true },
                 { field: 'Basictime', title: '当日日期（年-月-日）',edit: 'text',templet:function(data){ return data.Basictime.split('T')[0]} },
                  { field: 'PlannumD', title: '日当日计划数量',edit: 'text' },
                 { field: 'Operate', title: '操作', toolbar: '#Operate2' }
              ];
              var columns3 = [
                 { checkbox: true, fixed: true },
                 { field: 'Basictime', title: '当日日期（年-月-日）',edit: 'text',templet:function(data){ return data.Basictime.split('T')[0]} },
                 { field: 'PlannumM', title: '月计划总数',edit: 'text' },
                 { field: 'CurrentplannumM', title: '月当前计划数量',edit: 'text' },
                 { field: 'Operate', title: '操作', toolbar: '#Operate3' }
              ];
                var columns4 = [
                 { field: 'Tkid', title: 'Tkid' ,edit: 'text' },
                 { field: 'PlannumM', title: '时间段',templet:function(data){ return data.FromDate+"~"+data.EndDate }},
                 { field: 'Targetnum', title: '目标数量',edit: 'text'  }

              ];
             var tableData = [];
             var tableData2 = [];
             var tableData3 = [];
             var tableData4 = [];
             Array.prototype.indexOf = function (val) {
                 for (var i = 0; i < this.length; i++) {
                     if (this[i] == val) return i;
                 }
                 return -1;
             };
             Array.prototype.remove = function (val) {
                 var index = this.indexOf(val);
                 if (index > -1) {
                     this.splice(index, 1);
                 }
             };
             $.ajax({
                 url: '/Board/TimeSettingList'
                 , type: "get"
                 , async: false
                 , dataType: "json"
                 , success: function (result) {
                     if (result && result.data) {
                         tableData = result.data;
                     }
                 }
             });
               $.ajax({
                 url: '/Board/DaySettingList'
                 , type: "get"
                 , async: false
                 , dataType: "json"
                 , success: function (result) {
                     if (result && result.data) {
                         tableData2 = result.data;
                     }
                 }
             });

               $.ajax({
                 url: '/Board/MonthSettingList'
                 , type: "get"
                 , async: false
                 , dataType: "json"
                 , success: function (result) {
                     if (result && result.data) {
                         tableData3 = result.data;
                     }
                 }
             });
              $.ajax({
                 url: '/Board/GetCurrentDayNum'
                 , type: "get"
                 , async: false
                 , dataType: "json"
                 , success: function (result) {
                     if (result && result.data) {
                         tableData4 = result.data;
                     }
                 }
             });
             Layuitable.render({

                 // skin: 'line', //行边框风格
                 even: false//开启隔行背景
                 ,size: 'sm'  //小尺寸的表格
                 //,page: true   //开启分页
                  //,limits: [30,60,90]
                 ,elem: '#mainList'
                 , limit: 500 //每页默认显示的数量,
                 , cols: [columns]
                 , response: {
                     statusCode: 200 //规定成功的状态码，默认：0
                 },
                 data: tableData,
                 loading: true
             });
             Layuitable.render({
                 // skin: 'line', //行边框风格
                 even: false,//开启隔行背景
                 size: 'sm' //小尺寸的表格
               /*  height: auto,*/
                , elem: '#mainList2'
                //,page: true  //开启分页
                // url: '/Home/All',
                //,limits: [30,60,90]
                 , limit: 5000 //每页默认显示的数量,
                 // ,toolbar: '#toolbar', //开启头部工具栏，并为其绑定左侧模板
                 , cols: [columns2]
                 , response: {
                     statusCode: 200 //规定成功的状态码，默认：0
                 },
                 data: tableData2,
                 loading: true
             });
             Layuitable.render({
                 // skin: 'line', //行边框风格
                 even: false//开启隔行背景
                 ,size: 'sm' //小尺寸的表格
                 //,page: true   //开启分页
                 //,limits: [30,60,90]
                 ,elem: '#mainList3'
                 , limit: 5000 //每页默认显示的数量,
                 , cols: [columns3]
                 , response: {
                     statusCode: 200 //规定成功的状态码，默认：0
                 },
                 data: tableData3,
                 loading: true
             });
              Layuitable.render({
                 // skin: 'line', //行边框风格
                 even: false//开启隔行背景
                 ,size: 'sm' //小尺寸的表格
                 //,page: true   //开启分页
                 //,limits: [30,60,90]
                 ,elem: '#mainList4'
                 , limit: 5000 //每页默认显示的数量,
                 , cols: [columns4]
                 , response: {
                     statusCode: 200 //规定成功的状态码，默认：0
                 },
                 data: tableData4,
                 loading: true
             });

             //主列表加载，可反复调用进行刷新
             var config = {};  //table的参数，如搜索key，点击tree的id
             var noticeval = " ";
               //头工具栏事件
             Layuitable.on('tool(mainList)', function (obj) {

                 if (obj.event == 'btndel')
                 {
                     obj.del();
                 }

               });

            Layuitable.on('tool(mainList2)', function (obj) {

                 if (obj.event == 'btndel2')
                 {
                     obj.del();
                 }
               });
             Layuitable.on('tool(mainList3)', function (obj) {

                 if (obj.event == 'btndel3')
                 {
                     obj.del();
                 }
               });
             //监听单元格编辑
             Layuitable.on('edit(mainList)', function (obj) {
                 var value = obj.value //得到修改后的值
                     , data = obj.data //得到所在行所有键值
                     , field = obj.field; //得到字段
                 /*layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改值为：' + util.escape(value));*/
             });

              //监听单元格编辑
             Layuitable.on('edit(mainList2)', function (obj) {
                 var value = obj.value //得到修改后的值
                     , data = obj.data //得到所在行所有键值
                     , field = obj.field; //得到字段
                 /*layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改值为：' + util.escape(value));*/
             });
               //监听单元格编辑
             Layuitable.on('edit(mainList3)', function (obj) {
                 var value = obj.value //得到修改后的值
                     , data = obj.data //得到所在行所有键值
                     , field = obj.field; //得到字段
                 /*layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改值为：' + util.escape(value));*/
             });
             Layuitable.on('edit(mainList4)', function (obj) {
                 var value = obj.value //得到修改后的值
                     , data = obj.data //得到所在行所有键值
                     , field = obj.field; //得到字段
                 /*layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改值为：' + util.escape(value));*/
             });
              //监听页面主按钮操作
              var active = {
                  save: function ()
                  {

                     var dataList = getDataList("mainList");//table的id
                      $.ajax({
                          url: '/Board/AddTimeSet',
                          type: "POST",
                          traditional: true,//传数组一定要加的
                          data: { "datalist": JSON.stringify(dataList) },
                          dataType: "json",
                          success: function (data) {
                              ShowNotice();
                          }
                      });
                  }
                  , save2: function ()
                  {

                      var dataList = getDataList("mainList2");//table的id

                      $.ajax({
                          url: '/Board/AddDaySet',
                          type: "POST",
                          traditional: true,//传数组一定要加的
                          data: { "datalist": JSON.stringify(dataList) },
                          dataType: "json",
                          success: function (data) {
                              ShowNotice();
                          }
                      });
                  }
                  , save3: function ()
                 {

                     var dataList = getDataList("mainList3");//table的id
                     $.ajax({
                         url: '/Board/AddTitle',
                         type: "POST",
                         traditional: true,//传数组一定要加的
                         data: { "Message": $("#Message").val()  },
                         dataType: "json",
                         success: function (data) {
                             //ShowNotice();
                         }
                     });

                     $.ajax({
                         url: '/Board/AddMonthSet',
                         type: "POST",
                         traditional: true,//传数组一定要加的
                         data: { "datalist": JSON.stringify(dataList) },
                         dataType: "json",
                         success: function (data) {
                             ShowNotice();
                         }
                     });
                 }
                  , save4: function ()
                 {

                     var dataList = getDataList("mainList4");//table的id

                     $.ajax({
                         url: '/Board/UpdateCurrentDayNum',
                         type: "POST",
                         traditional: true,//传数组一定要加的
                         data: { "datalist": JSON.stringify(dataList) },
                         dataType: "json",
                         success: function (data) {
                             ShowNotice();
                         }
                     });
                 }
                  , add: function ()
                  {  //添加
                     var dataList = getDataList("mainList");//table的id
                     var newData = {
                         FromDate: noticeval,
                         EndDate: noticeval,
                         Targetnum: noticeval
                     }

                     var newDataList = dataList.concat(newData);
                      Layuitable.reload("mainList", {
                         data: newDataList
                     })
                  }
                  , add2: function ()
                  {  //添加
                     var dataList = getDataList("mainList2");//table的id
                     var newData = {
                         Basictime: noticeval,
                         PlannumD: noticeval
                     }

                     var newDataList = dataList.concat(newData);
                      Layuitable.reload("mainList2", {
                         data: newDataList
                     })
                  }
                  , add3: function ()
                  {  //添加
                     var dataList = getDataList("mainList3");//table的id
                     var newData = {
                         Basictime: noticeval,
                         PlannumM: noticeval,
                         CurrentplannumM: noticeval
                     }

                     var newDataList = dataList.concat(newData);
                      Layuitable.reload("mainList3", {
                         data: newDataList
                     })
                  }
             };



             $('.layui-btn').on('click', function ()
             {
                 var type = $(this).data('type');
                 active[type] ? active[type].call(this) : '';
             });

         });


         function getDataList(tableId) {
             var table = layui.table;
             if (table.cache[tableId]) {
                 return table.cache[tableId];
             }
             return [];
         }
         function ShowNotice() {

             layer.open({
                 content: '保存成功',
                 yes: function (index, layero) {
                     //do something
                     location.reload();//弹出层结束后，刷新主页面
                 }
             });
         }


    </script>
    <script type="text/javascript">
        function ExcelClick()
        {
            //alert("111");
            //$("#btnexcel").attr("href", "www.baidu.com");
            $("#btnexcel").attr("href", '@Url.Action("Export","Board")?FromDate=' + $("#fromdate").val() + "&EndDate=" + $("#enddate").val())
        }
    </script>
    }
</body>
</html>
